/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: rgb(95, 82, 82);
    color: white;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin: 3.2rem;
    align-items: center;
}
header h2 {
    font-size: 2.1rem;
    font-weight: bold;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-center {
    display: flex;
    gap: 2rem;

}

.header-center li {
    list-style: none;
    margin-right: 20px;
}

.header-center a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.header-center li:nth-child(1)>a {
    color: #4849ff;
    font-weight: bold;
}

header button {
    background-color:#0207ff;
    padding: 0.8rem;
    color: white;
    font-size: 1.3em;
    width: 9rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width:1074px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .header-center {
        display: flex;
        flex-direction: column;
    }
}

/* .card>img {
    object-fit: cover;
} */

img {
    max-width: 100%;
}
.cards {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat( auto-fit, 38rem);
    justify-items: center;
}

.card {
    background-size: cover;
    margin: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    width: 25rem;
    padding: 0.8rem;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Make button on card visible on hover */

/* .bt-button {
    background-color: #0207ff;
    color: white;
    font-size: 1.3em;
    width: 9rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
} */



@media (max-width:1074px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .header-center {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:1823px) {
    .cards {
        align-items: center;
        justify-content: center;
    }
}

/* Blog */
.blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem;
}

.blog-card {
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: #000000;
    text-align: center;
    width: 25rem;
    padding: 0.8rem;
}

.blog-card h3,p {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin-top:1rem ;
}

.blog-card>img {
    width: 100%;
    object-fit: cover;
}

.blog-card,img {
    border-radius: 0.5rem;
}

.blog-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

